/* GENERAL RULES */
.main-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 100px 30px;
  margin: 0 auto;
  color: #565656;
  font: 16px "Segoe UI", Arial;
  background-color: #fff;
  z-index: 45;
}

.registration {
  width: 600px;
  margin: 0px auto;
}

.registration .center {
  width: fit-content;
  margin: 0px auto;
}
.registration h1 {
  text-align: center;
}

.company-green {
color: #61ce4e; /*Company Green*/
}

.registration h3.subtitle {
  text-align: center;
  font-weight: 400;
}
/* END GENERAL RULES */



/* BEGIN FORM */
.registration form {
  margin-top: 45px
}

.registration fieldset {
    border: none;
    margin-top: 10px;
}

.registration legend {
  font-weight: 500;
  font-size: 16px;
  color: #337fce; /*Company Blue*/
  margin: 0px 0px 5px 5px;
}

.registration input[type="text"], input[type="number"], input[type="password"] {
  width: 45%;
  margin: 15px 1%;
  outline: none;
  font-size: 15px;
  padding: 5px;
  color: #565656;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}

.registration input:focus {
  border-bottom: 1px solid #61ce4e;
}

.registration textarea {
  padding: 10px;
  color: #565656;
  font-size: 14px;
  line-height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 540px;
  height: 110px;
  resize: none;
}

.registration textarea:focus {
  border: 1px solid #61ce4e;
  transition: 0.3s;
}

.registration textarea::placeholder, input::placeholder {
  color: #dadada;
}

/* CUSTOM UPLOAD FILE*/
.registration input[type="file"] {
display: none;
}

label.custom-file-upload {
  display: inline-block;
  padding: 8px 36px;
  border-radius: 5px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: url('../img/upload-file.png') no-repeat center;
  background-size: 26px;
  background-color: #ededed;
  vertical-align: middle;
  margin-right: 15px;
  background-color: #f5f5f5;
  transition: 0.3s;
}

label.custom-file-upload:hover {
  background: url('../img/upload-file-hover.png') no-repeat center;
  background-size: 26px;
  background-color: #337fce;
}
/* END CUSTOM UPLOAD FILE */

.registration input[type="submit"] {
  display: block;
  width: 95%;
  margin: 15px auto;
  padding: 15px 10px;
  font: 20px Arial;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient( #68ff4d, #61ce4e);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  }

.registration  input[type="submit"]:hover {
  background: linear-gradient( #61ce4e, #68ff4d);
  transition: 0.5s;
}

.registration hr {
  margin-top: 40px;
  border: none;
  border-top: 1px solid #ededed;
}

.registration h6 {
  text-align: center;
  font-weight: 300;
  margin-top: 15px;
  color: #c5c5c5;
  }
/* END FORM */

.left {
float: left;
}

.clear {
  clear: both;
}


/* -- FOLLOW US -- */
.footer {
  text-align: center;
  margin: 0px auto;

}

.footer .folow-us {
  margin: 25px auto;
  padding: 0;
  width: auto;
}

.footer .follow-us h5 {
  color: #565656;
  text-align: center;
  font-size: 14px;
  margin: 10px auto;
}

.footer .follow-us .fb {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url("../img/facebook.png") no-repeat center;
  background-size: 28px;
  transition: 0.3s;
	}

.footer .follow-us .fb:hover {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url('../img/facebook-hover.png') no-repeat center;
  background-size: 28px;
}


.footer .follow-us .tw {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url("../img/twitter.png") no-repeat center;
  background-size: 30px;
  transition: 0.3s;
}

.footer .follow-us .tw:hover {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url("../img/twitter-hover.png") no-repeat center;
  background-size: 30px;
}

.footer .follow-us .inst {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url("../img/instagram.png") no-repeat center;
  background-size: 28px;
  transition: 0.3s;
}

.footer .follow-us .inst:hover {
  display: inline-block;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  background: url('../img/instagram-hover.png') no-repeat center;
  background-size: 28px;
}
/* -- END FOLLOW US -- */
